/* Header */
header {
  width: 100%;
  height: 50px;
  background-color: #9c27b0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 15px;
  justify-content: space-between;
}

header h2 {
  font-family: cursive;
  border: 1px solid;
  padding: 0 5px;
  background: white;
  color: #9c27b0;
  border-radius: 7px;
}

header button {
  padding: 5px 13px;
  border-radius: 5px;
  margin-left: 10px;
}

/* cars home page */
.cars-list_container {
  padding: 20px 0 0 10px;
  display: flex;
  margin-bottom: 20px;
}

/** Filtering panel **/
.filtering-panel {
  flex: 0 0 200px;
  border-right: 1px solid #eee;
}

.filtering-panel h3 {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

#toggle-filter-panel {
  display: none;
}

#car-maker-list {
  max-height: 200px;
  overflow: auto;
}

.filtering-panel .filter-title {
  margin: 15px 0 5px;
}

.search-panel {
  margin: 0 0 20px 0;
  line-height: 0;
}

.search-panel input#car-search-box {
  width: 300px;
  font-size: 12px;
  height: 25px;
  padding: 0 5px;
}

.cars-grid {
  padding: 0 0 0 10px;
}
.cars-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.car-card {
  width: 200px;
  margin: 0 10px 10px 0;
  padding: 10px;
  background: #f3e5f5;
}

.car-card:hover {
  background: #d36de4;
  cursor: pointer;
}

.car-card .maker-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car-card .car-maker {
  font-size: 16px;
}

.car-card .car-model {
  font-weight: bold;
  font-size: 18px;
}

.car-card .car-details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 18px 0 0 0;
}

.car-card .date-added {
  text-align: right;
  font-size: 10px;
}

.car-card .add-to-card_btn button {
  background: white;
  outline: none;
  border: 1px solid;
  line-height: 1.1;
}

/* Car Details */
.car-details_container {
  display: flex;
  margin: 20px 0 0 20px;
}
.car-photo {
  width: 50%;
  height: 300px;
  border: 1px solid #f3e5f5;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3e5f5;
}
.car-details_container .car-details {
  padding: 0 15px;
}
.car-details_container .car-maker {
  font-weight: bold;
}
.car-details_container .car-model {
  font-size: 36px;
}
.car-details_container .label {
  width: 100px;
  display: inline-block;
}
.car-details_container .action-buttons {
  margin: 115px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.car-details_container .action-buttons button {
  padding: 5px 10px;
  margin-right: 10px;
}

/* cart  */
.cart_container {
  padding: 15px;
}
.cart_container h2 {
  margin-bottom: 20px;
}
.cart_container ul {
  display: flex;
  flex-direction: column;
}

.cart_container ul li {
  display: flex;
  padding: 0 5px;
}
.cart_container ul li:first-child {
  font-weight: bold;
  background: #e7b4f0;
  padding: 5px 10px;
}

.cart_container ul li:last-child {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 5px;
}

.cart_container .cart-item {
  margin-right: 5px;
  width: 20%;
}

.cart_container ul li .cart-item:first-child {
  width: 40%;
}

.cart_container .cart-total {
  border-top: 1px solid #eee;
  margin-top: 10px;
  text-align: right;
  padding-right: 90px;
}

@media screen and (max-width: 460px) {
  .car-details_container {
    flex-direction: column;
  }
  .cars-list_container {
    flex-direction: column;
  }

  .filtering-panel {
    margin-bottom: 15px;
    flex: 0 0 0;
  }

  #toggle-filter-panel {
    display: block;
  }

  .search-panel input#car-search-box {
    width: 95%;
  }

  .cars-list {
    flex-direction: column;
  }

  .car-card {
    width: 95%;
  }

  .car-photo {
    width: 95%;
    margin-bottom: 15px;
  }

  .car-details {
    margin-bottom: 25px;
  }
}
